scopeName: 'source.sss'
name: 'SugarSS'

fileTypes: [
  'css'
  'scss'
  'sass'
  'sss'
]

patterns: [
  { include: '#at_rule' }

  { include: '#comment_block' }
  { include: '#comment_line' }

  { include: '#function' }

  { include: '#parent' }

  { include: '#pseudo_class' }
  { include: '#pseudo_element' }

  { include: '#selector_class' }
  { include: '#selector_id' }

  { include: '#string_double' }
  { include: '#string_single' }

  { include: '#variable' }
]

repository:
  # at-rule
  at_rule:
    match: '@[a-zA-Z0-9_\\-]+'
    name: 'keyword.sss'

  # comment
  comment_block:
    match: '/\\*.*\\*/'
    name: 'comment.block.sss'

  comment_line:
    match: '//.*'
    name: 'comment.line.sss'

  # function
  function:
    match: '[a-zA-Z0-9_\\-]+(?=\\()'
    name: 'entity.name.function.sss'

  #parent
  parent:
    match: '&'
    name: 'entity.name.tag.reference.sss'

  #pseudo
  pseudo_class:
    match: '\\:[^ ][a-zA-Z0-9_\\-]+'
    name: 'entity.other.attribute-name.pseudo-class.sss'

  pseudo_element:
    match: '\\::[^ ][a-zA-Z0-9_\\-]+'
    name: 'entity.other.attribute-name.pseudo-element.sss'

  #selector
  selector_class:
    match: '\\.[a-zA-Z0-9_\\-]+'
    name: 'entity.other.attribute-name.class.sss'

  selector_id:
    match: '\\#[a-zA-Z0-9_\\-]+'
    name: 'entity.other.attribute-name.id.sss'

  # string
  string_double:
    match: '\".*\"'
    name: 'string.double.sss'

  string_single:
    match: '\'.*\''
    name: 'string.single.sss'

  #variable
  variable:
    match: '\\$[a-zA-Z0-9_\\-]+'
    name: 'variable.sss'
